<p>Filtre par libellé : Tous libellés de produits contenant la chaine de caractère saisi par l'utilisateur sera retourné</p>
<p>Filtre par prix : Si une valeur numérique est saisie alors ce sera le prix qui sera filtré. Les produits retournées si un prix est saisi seront les produits ayant un prix contenu dans les bornes [n-2 et n+2] (n est le prix saisi par l'utilisateur) </p>
<label>Filtre par libellé et par prix : <input type="text" [(ngModel)]="filtre" (ngModelChange)="ngModelFiltreChange()" /></label>

