<div class="row">
  <div class="col">
    <h1>Création adresse</h1>
    <form #registerForm="ngForm" (ngSubmit)="sendToRecap(registerForm)" class="row g-3" novalidate>

      <div class="col-12">
        <label class="form-label">Adresse</label>
        <input type="text" name="adresse" class="form-control" [(ngModel)]="adresse" appInputValidation required />
      </div>
      <div class="col-md-6">
        <label class="form-label">Ville</label>
        <input type="text" name="ville" [(ngModel)]="ville" class="form-control" appInputValidation required />

      </div>
      <div class="col-md-4">
        <label class="form-label">Pays</label>
        <input type="text" name="ville" [(ngModel)]="pays" class="form-control" appInputValidation required />
      </div>
      <div class="col-md-2">
        <label class="form-label">Code postal</label>
        <input type="text" name="cp" [(ngModel)]="cp" class="form-control" appInputValidation required />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Ajouter l'adresse</button>
      </div>
    </form>
  </div>
  <div class="col">
    <app-recap></app-recap>
  </div>
</div>
