<h1>Liste de produits</h1>
<app-filtre-produits (changeFiltreValeur)="updateValeurFiltre($event)"></app-filtre-produits>
<table>
  <thead>
    <th>Libellé</th>
    <th>Prix</th>
  </thead>
  <tbody>
    <tr *ngFor="let produit of observateurProduits | async">
      <td>{{ produit.libelle }}</td>
      <td>{{ produit.prix }}€</td>
      <td><button type="button" (click)="addPanier(produit)">Ajouter</button></td>
      <td><a [routerLink] = "['/catalogue/', produit.id]" >Détail</a></td>
    </tr>
  </tbody>
</table>
